body{
    background: #2b50f2;
    margin: 0;
    padding: 0;
}

ul{
    cursor: pointer;
    padding: 40px;
    margin: 0px;
    border: 12px solid #f410d2;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

ul li{
    list-style: none;
    color: #fff;
    float: left;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 3s;
}
ul:hover li{
    transform: rotateY(360deg);
}

ul:hover li:nth-child(1){
    transition: 13s;
}

ul:hover li:nth-child(2){
    transition: 12s;
}

ul:hover li:nth-child(3){
    transition: 11s;
}

ul:hover li:nth-child(4){
    transition: 10s;
}

ul:hover li:nth-child(5){
    transition: 9s;
}

ul:hover li:nth-child(6){
    transition: 8s;
}

ul:hover li:nth-child(7){
    transition: 7s;
}

ul:hover li:nth-child(8){
    transition: 6s;
}

ul:hover li:nth-child(9){
    transition: 5s;
}

ul:hover li:nth-child(10){
    transition: 4s;
}

ul:hover li:nth-child(11){
    transition: 3s;
}

ul:hover li:nth-child(12){
    transition: 2s;
}

ul:hover li:nth-child(13){
    transition: 1s;
}

